
.group {
    display: none;
}

.my-list-group
{
max-height: 300px;
margin-bottom: 10px;
overflow:scroll;
-webkit-overflow-scrolling: touch;
}

.navbar
{
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.dropdown-menu {
    max-height: 150px !important;
    overflow-y: auto !important;
}

.btn-img-zoom {
    width: 30px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 30px !important;
    text-align: center;
    padding: 0px;
    font-size:12px;
    }