<!-- home / about page with general info -->
<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive Meta Tag: used for scaling on mobile, possibly not wanted here -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PM4P2P</title>
    {% load static %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/clipboard2-data.svg' %}"/>
  </head>
  <body> 
    <div class="d-flex" id="wrapper">

      <div class="border-right" id="sidebar-wrapper">   
        {% include 'main/sidebar.html'%}
      </div>

        {% block content %}
        <header class="docs-header py-3 px-4">
            <h1 class="docs-heading">Getting Started with PM4P2P
            </h1>

            <section class="docs-intro">
                <p>In the main directory you can find the documentation of <b>PM4P2P</b> in the form of a <b>pdf</b>. It contains the following informations:
                </p>
                  <ol>
                    <li><b>Instalation</b></li>
                    <ul>
                        <li>
                          <i>Prerequisites</i>: What you need to install on your machine before starting the server 
                        </li>
                        <li>
                          <i>Setting up the server</i>: Setting up the virtual environment and installing the needed requirements 
                        </li>
                    </ul>
                    <li><b>Importing OCELs</b></li>
                      <ul>
                        <li>
                          <i>SAP OCELs:</i> How to import data directly from the SAP system
                        </li>
                        <li>
                          <i>External OCELs:</i> How to import your own data
                        </li>
                      </ul>
                    <li><b>Viewing and Managing Saved OCELs:</b></li> In which formats the generated models are displayed
                    
                  </ol>
            </section><!--//docs-intro-->
        </header>           
        {% endblock %}
  
      </div>
    <!-- JS imports, necessary for Bootstrap, order is relevant! -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>