{% load static %}
<div class="list-group list-group-flush">
    {% url 'main:import_ocel' as home_url %}
    <a href="{{ home_url }}" class="sidebar-heading list-group-item list-group-item-action"><img style='height: 100%;object-fit: contain ' src="{% static 'img/clipboard2-data.svg' %}"/><b>PM4P2P</b></a>
    {% url 'main:import_ocel' as import_ocel %}
    <a href="{{import_ocel}}" class="list-group-item list-group-item-action {% if import_ocel in request.path %} active{% else %} bg-light{% endif %}">Import Data</a>
    {% url 'main:view_ocel' as view_ocel_url %}
    <a href="{{view_ocel_url}}" class="list-group-item list-group-item-action {%if view_ocel_url in request.path%} active{%endif%}">View OCEL</a>
    {% url 'main:view' as view_url %}
    <a href="{{view_url}}" class="list-group-item list-group-item-action {%if view_url in request.path%} active {%endif%}">View Process Model</a>
    {% url 'main:docs' as docs_url %}
    <a href="{{docs_url}}" class="list-group-item list-group-item-action {%if docs_url in request.path%} active {%endif%}">Documentation</a>
</div>