<!-- View and manipulate (apply filters to) the process model -->
{%load plotly_dash%}
<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive Meta Tag: used for scaling on mobile, possibly not wanted here -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PM4P2P</title>
    {% load static %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/clipboard2-data.svg' %}"/>
  </head>
  <body> 
    <div class="d-flex" id="wrapper">
      <div class="border-right" id="sidebar-wrapper">   
        {% include 'main/sidebar.html'%}
    </div>
      {% block content %}
        <div class="container py-5 px-5 row g-0">
          <div class="container col border border-0 px-0 mx-0">
            {% plotly_app name='graph_view' ratio=1 %}
          </div>
        </div>
        {% endblock %}
    </div>
    <!-- JS imports, necessary for Bootstrap, order is relevant! -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>