<!-- View uploaded/imported data and generate process model (select DFG/PN) -->
<!-- Also provide download feature (JSON/XML) -->
<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive Meta Tag: used for scaling on mobile, possibly not wanted here -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PM4P2P</title>
    {% load static %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
        <!-- Custom CSS -->
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/clipboard2-data.svg' %}"/>
  </head>
  <body> 
    <div class="d-flex" id="wrapper">
      <div class="border-right" id="sidebar-wrapper">   
        {% include 'main/sidebar.html'%}
      </div>
        {% block content %}
        {% load bootstrap4 %}
        <div class="row py-5 px-4">
              <div class="card border">
                <div class="card-header w-100 justify-content-between">
                  <form method="POST" action="" id = "ocel-model-selector">
                    {% csrf_token %}
                    {%bootstrap_form ModelSelectorForm%}
                    <div class="text-right">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletionModal" disabled id="discover-model-delete-modal">Delete OCEL</button>
                      <button type="submit" name="button" value="discover" class="btn btn-primary" disabled id="discover-model-submit">Discover Model</button>
                      <!-- Modal -->
                      <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deletionModalLabel">Delete OCEL</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to delete this OCEL?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <button type="submit" name="button" value="delete" class="btn btn-danger" id="delete-ocel-submit">Delete OCEL</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                
                 <!---possibly add last_updated data here-->
                </div>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <div id = "toolbar">
                </div>                
                <table 
                id='datatable'
                data-toolbar = "#toolbar"
                data-show-toggle = "false"
                data-show-columns = "true"
                data-pagination = "true"
                data-page-size = 25
                striped = "true"
                >
                  </table>
                  <script>
                    $(function() {
                      $('#datatable').bootstrapTable({
                          data: [],
                          columns: {{columns |safe}},
                          search:true,
                      });
                      $('#datatable').bootstrapTable("hideColumn", "OCEL_id_name");                      
                      $('#id_ocel').val("{{selectedOCEL}}").trigger('change'); //select initial value (sometimes) specified from view.py (e.g. when there is only one OCEL)
                    });
                    function SelectOCEL(value){
                        selected_ocel = value;
                        if (!selected_ocel){
                          selected_ocel = "";
                        }
                        temp = {{data|safe}};
                        var parent_id = -1;
                        data_to_show = $.grep(temp, function (n,i){
                            parent_id = Number(n.OCEL_id_name.split(" ")[0]);
                            return parent_id == selected_ocel;
                          });
                        $('#datatable').bootstrapTable("load", data_to_show);
                        $('#discover-model-submit').attr('disabled', (selected_ocel == ""));
                        $('#discover-model-delete-modal').attr('disabled', (selected_ocel == ""));           
                      }                        
                  </script>
              </div>

        </div>
        {% endblock %}
        
    </div>
    <!-- JS imports, necessary for Bootstrap, order is relevant! -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
  </body>
</html>